.namecategoria{
    font-size: 3ex    
}

.namecategoria2{
    font-size: 3ex;
    margin-top: 50px;
}

.namematerial{
    font-size: 5ex;
    margin-top: 100px;
}

.namematerial2{
    font-size: 5ex;
    margin-top: 0px;
}

.cabeceracategoria{
    border-bottom: 1px solid #CCC;
    padding-top: 1ex;
    padding-bottom: 1ex;
    font-weight: bold;
}


.linea{
    border-bottom: 1px solid #CCC;
    padding-top: 0.5ex;
    padding-bottom: 0.5ex;
}

.linea:hover{
    border-bottom: 1px solid #CCC;
    padding-top: 0.5ex;
    padding-bottom: 0.5ex;
    background-color: #CCC;
    cursor: pointer;
}
